/* Kontener dla kropek */
    .spinner {
      display: none;
      margin: 20px auto;
      width: 40px;
      height: 40px;
      position: relative;
      animation: rotate-spinner 1.5s linear infinite;
    }
    /* Same kropki */
    .spinner div {
      width: 12px;
      height: 12px;
      background-color: #FF6600;
      border-radius: 50%;
      position: absolute;
    }
    /* Ustawienie kropek w okrąg */
    .bounce1 { top: 0; left: 14px; }
    .bounce2 { top: 14px; right: 0; }
    .bounce3 { bottom: 0; left: 14px; }
    .bounce4 { top: 14px; left: 0; }

    @keyframes rotate-spinner {
      100% { transform: rotate(360deg); }
    }